body { 
	background-color: #fff; 
	color: #333; 

}

body, p, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
	color: #000; 
	text-decoration: none;
	font-size: 13px;
	
}
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

h2 {
	font-size: 25px;
	
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.subtitle {
	text-align: center;
	position: relative;
	right: -20px;
	margin-top: 0px;
	font-size: 11px;
}

#header {
	text-align: center;
	margin-bottom: 5px;
	font-size: 30px;
}

#toolbar h2{
	display: inline;
	margin-right: 150px;
}

table {
	border: 1px solid black;
	width: 900px;
	margin-left: .5em;
}

th {
	background-color: lightgray;
	padding: 0px 1px;
	line-height: 25px;
}

tr {
	padding: 0px 1px;
	line-height: 25px;
}

td {
	padding: 0px 1px;
	line-height: 25px;
}
.list-line-even {
	background-color: #FFF;
}

.list-line-odd {
	background-color: #EEE;
}

.buttons{
	background-color: #FFF;
}

#articles_list {
	/*max-height: 300px;
	overflow: auto; */
	width: 925px;
}

label {
	width: 7em;
	float: left;
	text-align: right;
	margin-right: 1em;
	display: block
	
}

#article_submit {
	margin-left: 8em;
}

#show_buttons {
	list-style-type: none;
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

ul#show_buttons li {
	float: left;
	margin-right: 50px;
}

.content_div{
	margin-left: 1em;
}


ul.menubar{
	list-style-type:none;
	margin:0px 0px 20px 0px;
	padding: 10px;
	background-color: #F0F0F0
}

ul.menubar li {
	display: inline;
	margin-right: 100px;
	padding: 10px;
}