#subtitle {
	
}

#header {
	text-align: center;
}

#toolbar h1{
	display: inline;
}

table {
	border: 1px solid black;
	width: 900px;
	height: 275px;
}

th {
	background-color: lightgray;
	height: 25px;
}

tr {
	height: 25px;
	
}
.list-line-even {
	background-color: #FFF;
}

.list-line-odd {
	background-color: #EEE;
}

.buttons{
	background-color: #FFF;
}

td {
	overflow: hidden;
}