#wrapper {
	margin: 0px auto;
	width: 1024px;
	border: 1px solid black;
}

#titleblock {
	margin: 0px;
	background-color:#D3D3D3;
	padding: 5px 10px;	
}

#navigation {
	padding: 10px;
	margin: 0px;
	background-color: black;
}

#content{
	margin-bottom: 20px;
}

#feelingsbox{
	margin-bottom: 20px;
}

#copyright{
	text-align: center;
	background-color:#EAEAEA;
}

#middlewrapper{
	background-color: white;
	padding: 10px;
}

h1 {
	letter-spacing:-1px;
	padding: 0px;
	margin: 10px 0px 0px;
}

h2 {
	padding: 0px;
	margin: -3px 5px 8px 0px;
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}

h3{
	font-size:25px;
	margin:0px 0px 20px 0px;
}
body { 
	font-family: Helvetica;
	padding: 0px;
	margin: 0px;
	background-color: #AAAAAA;
}

a:link,a:visited{
	color:white;
	font-weight:bold;
	text-decoration:none;
	margin:0px 27px 0px 0px;
}

a:hover,a:active{
	background-color: white;
	color:black;
}

label {
	width: 200px;
	display: block;
	float: left;
}

button {
	margin-left: 200px;
	margin-bottom: 20px;
}

p{
	margin: 0px;
	padding: 10px;
	font-size: 15px;
}
